<%= form_for(@group_permission) do |f| %>
  <% if @group_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_permission.errors.count, "error") %> prohibited this group_permission from being saved:</h2>

      <ul>
      <% @group_permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_type %><br />
    <%= f.text_field :group_type %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :action_ind %><br />
    <%= f.text_field :action_ind %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
