<h1>Listing group_vals</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_vals.each do |group_val| %>
  <tr>
    <td><%= group_val.type %></td>
    <td><%= group_val.description %></td>
    <td><%= link_to 'Show', group_val %></td>
    <td><%= link_to 'Edit', edit_group_val_path(group_val) %></td>
    <td><%= link_to 'Destroy', group_val, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group val', new_group_val_path %>
